@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.header{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layout{
    display: flex;
    flex-direction: column;
}
.coluna-1{
    padding: 10px;
}
.coluna-2{
    padding: 10px;
}
#subtitulo-cabecalho{
    font-size: 12pt;
    color: #4c4c4c;
}
#endereco{
    color: black;
}
#email{
    color: black;
}
.links-sobre{
    text-decoration: underline;
    color: #99c432;
}
.links-sobre:hover{
    text-decoration: underline;
    cursor: pointer;
}
section{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
#titulo-cabecalho{
    color: #99c432;
}
.titulos-secoes{
    margin-top: 20px;
    margin-bottom: 20px;
}
.separadores{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
}

img{
    border-radius: 100%;
    width: 150px;
}
.coluna-1{
    background-color: #4c4c4c;
}
.coluna-2{
    background-color: #4c4c4c
}
.textos{
    text-indent: 40px;
    text-align: justify;
}
h4{
    margin-top: 30px;
    margin-bottom: 5px;
}
h5{
    margin-bottom: 10px;
}
.textos-experiencias{
    text-align: justify;
}
.links_cursos{
    color: white;
}
.icones{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.icones-sobre{
    color: white;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.layout-icones-sobre{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.certificados-secao{
    width: 100%;
    height: 29%;
}
.layout-cursos{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (min-width: 1024px) and (max-width: 1440px)
{
    .titulo-habilidades{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .separador-coluna{
        display: none;
    }
    .layout{
        flex-direction: row;
    }
    .coluna-1{
        width: 50%;
    }
    .coluna-2{
        width: 50%;
    }
    .links_cursos{
        margin-bottom: 100px;
    }
}

@media (min-width: 1441px) and (max-width: 2560px)
{
    .titulo-habilidades{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .separador-coluna{
        display: none;
    }
    .layout{
        flex-direction: row;
    }
    .coluna-1{
        width: 50%;
    }
    .coluna-2{
        width: 50%;
    }
    .certificados-secao{
        width: 100%;
        height: 35%;
    }
}

